Session.vim
/BrunoDoc/*.pyc
/results*
/Estat2*
/Impressao*
__pycache__
example.py
fenapack_example.py
fenapack_ex.py
/data
subdominios*
chute*
*Tabela/
Bons*/
Benchmarking*
old*/**
*.docx
*.odt
nohup*
comp_temp*/
log*
config2/
tradicionais/
